# macOS
.DS_Store

# Generic
*.bak
/*.log
/*.out
build/
logs/
dist/
tmp/
bin/
.env

# Vim
*.sw?
*~

# Gradle
.gradle
!gradle/wrapper/gradle-wrapper.jar
.gradletasknamecache

# Eclipse (STS, VSCode)
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr
out/
